main {
    min-height: 60vh;
}

.hero {
    background-image: url("../public/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
}

.hero h1 {
    color: #ffffff;
    text-shadow: 1px 1px #000;
}

.hero p {
    color: #ffffff;
    text-shadow: 1px 1px #000;
}

.text-link {
    color: rgba(0, 0, 0, 0.664);
    font-size: 0.9rem;
}

.text-link:hover {
    color: rgba(0, 0, 0, 0.955);
}

.icons a {
    font-size: 35px;
    color: rgba(0, 0, 0, 0.664);
    margin-left: 1rem;
}

.icons a:hover {
    color: rgba(0, 0, 0, 0.955);
}

.card-img {
    height: 28vh;
    object-fit: cover;
}

.card-link {
    text-decoration: none;
}

.card-title {
    color: #000000;
    font-size: 1.3rem;
}

.card-sub {
    color: #000000ed;
    font-size: 0.9rem;
}

.card-text {
    color: #000000;
    font-size: 0.9rem;
}

@media only screen and(min-height: 1024px) {
    .property-img {
        height: 30rem;
    }
}

.for-sale {
    color: #01bf71;
}

.sale-check {
    font-size: 1.2rem;
}

.house-info {
    box-shadow: none;
}

.address-link {
    color: rgba(26, 75, 173, 0.816);
}

.address-link:hover {
    color: rgb(2, 41, 119);
    text-decoration: underline;
}

.prop-description {
    text-align: justify;
}



.profile-icon i {
    margin: 0.2rem;
    font-size: 1.8rem;
    color: rgb(0,32,74);
    transition: transform 0.3s ease;
}

.profile-icon i:hover {
    transform: scale(1.2);
}

.bio-text {
    text-align: justify;
}