main {
    min-height: 80vh;
}

.text-link {
    color:rgba(0, 0, 0, 0.664);
}

.text-link:hover {
    color:rgba(0, 0, 0, 0.955);
}

.icons a {
    font-size: 35px;
    color:rgba(0, 0, 0, 0.664);
    margin-left: 1rem;
}

.icons a:hover {
    color:rgba(0, 0, 0, 0.955);
}